/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 9px;
    border: 4px solid #ddd;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

h2 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* styles.css */

.carrusel {
    width: 100%; /* Abarca todo el ancho de la página */
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: auto; /* Centra horizontalmente */
    margin-right: auto; /* Centra horizontalmente */
}

.carrusel img {
    width: auto; /* Utiliza el tamaño original de las imágenes */
    height: 200px; /* Establece una altura fija para las imágenes */
    vertical-align: top;
}

@keyframes desplazar {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes desplazar-loop {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.carrusel img {
    animation-name: desplazar-loop; /* Usamos la animación loop */
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; /* Repetimos la animación infinitamente */
}

.card {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img {
    width: 10px; /* ajusta el tamaño de la imagen según sea necesario */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.card-info {
    flex: 1;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    color: #666;
}